// -*- less-css-compile-at-save: t -*-


// @smallFontSize: 10px;

@annotationColor:yellow;
@canceledLessonColor:#F96;
@addedLessonColor:lightgreen;
@changedLessonColor:@addedLessonColor;
@teachingSubstitutionLessonColor: #ff9;
@blankedLessonColor:@canceledLessonColor;
@eventLessonColor:@annotationColor;

// @highlightColor: yellow;
// @highlightBorder: 1px solid red;

// @nonCurrentColor: #FCC;

// @requiredColor: #ffffaa;



table.schedule {
		tr {
				.lessonInCell {
						&.selected {
								background-color: #dfd;
						}
						
				}
				
				.annotationNumbers {
						vertical-align:super;
						font-size: 0.9em;
						line-height: 0.5em;
						margin-left: 2px;
						font-weight: bold;
				}

				//
				// WICHTIG!!! Die Reihenfolge ist wichtig! Wir haben bei den mutierten Lektionen mehr als 1 Style, und die Darstellung
				// setzt sich zusammen.
				//
				
				.ALLesson {
						// empty
				}

				.ALLessonFragment {
						.ALLesson;
				}


				
				// Nur stylen, wenn nicht schon mutiert
				// TODO Veraltet? Meldung von Annette 24.Aug 2023
				// .ALAnnotatedLesson:not(.multiMutated) {
				// 		.ALLesson;
				// 		> .lessonLabel {
				// 				background-color: @annotationColor;
				// 		}
				// }
				// .ALAnnotatedLesson.multiMutated {
				// 		.ALLesson;
				// 		> .lessonLabel {
				// 				border-left: 4px solid @annotationColor;
				// 				border-right: 4px solid @annotationColor;
				// 		}
				// }
				.ALAnnotatedLesson {
						.ALLesson;
						> .lessonLabel {
								background-color: @annotationColor;
						}
				}


				// Änderungen und Neues:
				
				.ALTeachingSubstitutionLesson {
						.ALLesson;
						> .lessonLabel {
								background-color: @teachingSubstitutionLessonColor;
						}

						// Bleibt grün, in Kombination mit neuen/geänderten Lektionen
						// &.ALAddCourseLessonMutator, &.ALAddLessonMutator, &.ALMoveLessonMutator {
						// 		> .lessonLabel {
						// 				background-color: @addedLessonColor;
						// 		}
						// }

				}

				.ALEventLesson {
						.ALLesson;
						> .lessonLabel {
								background-color: @eventLessonColor;
						}

						&.externalEvent {
								> .lessonLabel {
										background-color: #b2d7ff;
								}
						}

				}

				
				.ALBookedLesson {
						.ALLesson;
						.ALAddedLesson;
				}

				.ALCoBookedLesson {
						.ALLesson;
						.ALChangedLesson;
				}

				
				.ALChangedLesson {
						.ALLesson;
						> .lessonLabel {
								background-color: @changedLessonColor;
						}
				}
				

				.ALAddedLesson {
						.ALLesson;
						> .lessonLabel {
								background-color: @addedLessonColor;
						}
				}

				.ALTargetMovedLesson, .ALTargetSwappedLesson {
						.ALLesson;
						.ALAddedLesson;
				}


				// Canceling Mutationen:


				.ALCanceledLesson {
						.ALLesson;
						
						> .lessonLabel {
								color: #444;
								// Trick, um es anzudeuten, dass es mal gecancelt war. Eher für Debug und Analyse. Sollte
								// gar nie nur diese Farbe bekommen
								background-color: lighten(@canceledLessonColor, 20%);
//								text-decoration: line-through;
						}
				}

				// Hinweis: Nicht ganz sauber. Aber das durchstreichen soll nur wirklich bei wirklich ausfallenden Lektionen kommen.
				// Es gibt Multi-Mutationen und die Lektion ist danach nicht mehr cancelled, aber alle CSS Klassen
				// sind immer noch aufgelistet.
				.canceled {
						> .lessonLabel {
								// color: #444;
								background-color: @canceledLessonColor;
								text-decoration: line-through;
						}
				}

				.ALDeCanceledLesson {
						.ALLesson;
						> .lessonLabel {
								color: inherit;
								background-color: @annotationColor;
								text-decoration: none;
						}
				}

				.ALOriginMovedLesson {
						.ALLesson;
						.ALCanceledLesson;
						.canceled;
				}

				.ALBlankedLesson {
						.ALLesson;

						> .lessonLabel {
								background-color: @blankedLessonColor;
								text-decoration: line-through;
						}
				}

		}
}
